<%= render '/shared/page_header', header: "Frequently Asked Questions", subtext:"Errr... questions you might think to ask?" %>

<div id="faq_area">
<h5>What is this site?</h5>
<p>
  Hi there! And welcome to Ruby Exams. Most likely you're one of my peers, or one of the awesome instructors, from Tealeaf Academy.
  But who knows, maybe you randomly stumbled upon this somehow?
</p>

<p>
  Anyways... RubyExams is a small app built on Rails 4. It's main purpose is to be a tool to learn/review various Ruby and Rails topics.
</p>

<p>
  The idea came from the end of lesson quizzes that we have at Tealeaf Academy. I decided I wanted to build something my peers and I could use to refresh our memories for fun!
</p>

<h5>Can I make an Exam?</h5>
<p>Sure! I think that's awesome. Click the button on the top right to sign up :-)</p>

<h5>Will you add more categories? Like JavaScript?</h5>
<p>Eventually. But for now it's going to stay Ruby oriented.</p>

<h5>What about more features? Send Exams to my e-mail! Let me login via Facebook! Make crazy JavaScript fueled things fly across the screen with every click!</h5>
<p>
I really like the idea of this app as it might help people learn how to code.
I started out teaching myself to progam, which eventually lead me to the incredible courses at Tealeaf Academy, so if I can contribute to someones learning journey by working on RubyExams that would be really cool.
</p>
<p>So yes, I'll be adding more features like the ones above. Well, maybe not that last one.</p>


<h5>You've said 'Tealeaf Academy' 3... well 4 times now. What is that?</h5>
<p><a href="http://gotealeaf.com">It's an intense online programming bootcamp that teaches web development with Ruby and Rails.</a></p>

<h5>I think that's about it for questions...</h5>
<p>Great. Now go watch/listen to <a href="https://www.youtube.com/watch?v=qObzgUfCl28">this</a> before you go back to the main page and take more Exams!</p>
</div>
