/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
        border-radius: 0 !important;

  font-family: 'Roboto Slab', serif;
}

#logo:hover {
  text-decoration: overline #8d1907;
}

#logo_ruby {
  color: #aa1e08;
}

#logo_exams {
  color: #fff;
}

.navbar-fixed-bottom {
  height: 20px;
}

#bottom_nav ul {
  position: relative;
  bottom: 10px;
}

#bottom_nav li a{
  font-size: 12px;
}

#tealeaf:hover{
  color: #3b9c25;
}

#category_list{
  margin-top: 50px;
}

#category_list li{
  margin-bottom: 50px;
  font-size: 35px;
  color:black;
}

#main_area {
  text-align: center;
  margin: 40px auto;
}

label {
  font-size: 30px;
  margin-bottom: 25px;
}

input {
  margin: 10px 0;
}

.list_links {
  margin: 50px 0;
  font-size: 30px;
}

.list_links a, .list_links a:hover{
  color: #000;
}

.list_links a:hover {
  font-size: 1.10em;
  text-decoration: none;
}

.form_inputs {
  width: 50%;
  height: 40px !important;
}

#faq_area h5{
  font-size: 22px;
}

#faq_area p{
  font-size: 18px;
  margin-bottom: 20px;
}

#answer_button {
  margin: 25px 0;
}

.hide_answers {
  display: none;
}

#exam_questions p {
  font-size: 24px;
  text-decoration: underline;
}

#exam_answers p {
  font-size: 24px;
  text-decoration: underline;
}

#exam_questions li {
  font-size: 20px;
}

#exam_answers li {
  font-size: 20px;
}

#comment_area {
  margin-top: 60px;
}

#vote_area p{
  font-size: 20px;
}

#vote_area button{
  margin: 15px 0;
}
