<div class="well">
    <p id="comment_text"><%= comment.body %></p>
    <small>Posted by <%= link_to capitalize_names(comment.creator.username), user_path(comment.creator) %> at <%= friendly_date_time_fixer(comment.created_at) %></small>
</div>
