<%= render '/shared/page_header', header: 'Create a new Exam', subtext: 'Link to relevant documentation, just in case the Exam taker needs a hint!'%>

<div class="well">
  <%= render 'form', exam: @exam %>
</div>
