<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="navbar-inner" id="bottom_nav">
    <ul class="nav">
      <li><a href="#">About</a></li>
      <li><a href="https://github.com/patrick-g-pavesi/ruby_exams">Source Code</a></li>
    </ul>

    <ul class="nav pull-right">
      <li><a href="http://www.gotealeaf.com/faq" id="tealeaf">Tealeaf Academy</a></li>
    </ul>
  </div>
</div>
