<!DOCTYPE html>
<html>
<head>
  <title>RubyExams</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a class="brand" href="/">Ruby Exams</a>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>

  </footer>
</body>
</html>
